* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
}
/*---------------------------------------------nav---------------------------------------------------------------------*/
nav {
    background-color: #255EE9;
}

.container-centered {
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
}

#nav-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 70px;
}

#nav-inner ul {
    list-style-type: none;
}

#logo {
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#logo img {
    width: 100%;
}

#links {
    color: white;
    display: flex;
    align-items: stretch;
}

#links ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 34px;
}

#links li {
    font-size: 0.8em;
}

#login {
    background-color: white;
    height: 2.4em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 25px;
    border: none;
}

/*---------------------------------------------header------------------------------------------------------*/

header {
    background-image: url("../img/jumbo.png");
    background-size: cover;
    background-position-y:-60px;
}

#jumbo {
    display: flex;
    justify-content: center;
    min-height: 400px;
}

#jumbo-inner {
    width: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-size: 2.3em;
    text-align: center;
    color: white;
    height: 60px;
}

header p {
    color: white;
    line-height: 1.5em;
    text-align: center;
    margin-bottom: 1em;
}

#btns-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}

.btns {
    font-size: 1em;
    padding: 0.8em;
    border-radius: 25px;
    border: none;
}

#btn-primary {
    color: black;
    background-color: white;
}

#btn-secondary {
    color: white;
    background-color: #23272A;
}

/*---------------------------------------------main---------------------------------------------------------------------*/

main section .container-centered {
    min-height: 300px;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-top: 80px;
    padding-bottom: 60px;
}

main section:nth-child(even) .container-centered {
    flex-direction: row-reverse;
}

.h2-descr h2{
    padding-top: 25px;
    font-size: 2.1em;
}

.h2-descr div{
    margin-top: 1em;
    line-height: 1.6em;
}
.h2-descr {
    width: 37%;
    flex-grow: 1;
}

.section-image {
    width: 63%;
}

.section-image img {
    width: 100%
}

#last-section .container-centered {
    min-height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 90px;
    padding-bottom: 90px;
    align-items: center;
}

#last-section p{
    text-align: center;
    line-height: 1.6em;
    padding-right: 25px;
    padding-left: 25px;
}

#last-section h2 {
    font-size: 2.1em;
}

#last-section p:first-of-type {
    width: 100%;
    height: 50px;
}

#last-section #last-section-image {
    height: 400px;
    width: 100%;
    margin-bottom: 55px;
}

#last-section #pronto {
    font-size: 1.4em;
    height: 60px;
    width: 500px;
    background-image: url("../img/stars.svg");
    padding-top: 10px;
    margin-top: 70px;
    margin-bottom: 15px;

}

#last-section button {
    color: white;
    background-color: #7289DA;
}

#last-section-image img {
    width: 100%
}

/*---------------------------------------------footer---------------------------------------------------------------------*/

footer {
    background-color: #23272A;
    color: white;
}

#footer-sopra {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding-top: 60px;
}

#footer-left {
    min-height: 30px;
    width: 25%;
}

#footer-left h3 {
    color: #7289DA;
    font-size: 1.4em;
}

#lingua {
    margin-top: 1em;
    font-size: 0.7em;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    margin-bottom: 1em;
}

#lingua img{
    height: 17px;
}

#footer-left i{
    margin-right: 1em;
}

#footer-right {
    margin-bottom: 10px;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

#footer-right h3{
    font-size: 1em;
    color: #7289DA;
}

.footer-link-list {
    width: 25%
}

footer li {
    color: white;
    list-style-type: none;
    font-size: 0.7em;
    margin-bottom: 1em;
}

#footer-registrati {
    border-top: 1px solid #7289DA;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 40px;
}

#logo-discord img{height: 75%;}

#registrati{
    color: white;
    font-size: 0.7em;
    border-radius: 25px;
    height: 2.9em;
    padding-left: 12px;
    padding-right: 12px;
    background-color: #7289DA;
    border: none;
}